.studentDetails {
  display: flex;
  flex-wrap: wrap;

  label {
    font-size: 1.5rem;
    font-weight: 900;
  }
  div {
    flex: 1;
  }
  div {
    input {
      font-size: large;
    }
  }
}
.cancel-editing {
  // border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2em;
  #icon {
    font-size: 2em;
    border: 1px solid black;
    border-radius: 50px;
    color: red;
    &:hover {
      cursor: pointer;
    }
  }
}
